<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="common/common :: common-header">
</head>

<body>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->

		<nav th:replace="common/common :: navbar"></nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:../../partials/_sidebar.html -->
			<nav th:replace="common/common :: sidebar"></nav>
			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="page-header">
						<h3 class="page-title">Updating Doctor's Data </h3>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/doctor/updateDoctor}">Doctor's Information</a></li>
								<li class="breadcrumb-item active" aria-current="page">Update Doctor</li>
							</ol>
						</nav>
					</div>
					<div class="row">


						<div class="col-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">

									<p class="card-description" th:if="${phoneExists}" style="color:orangered">Phone
										Already Exists! Please try with another one.</p>
									<p class="card-description" th:if="${nrcExists}" style="color:orangered">NRC Already
										Exists! Please check typing error.</p>

									<form class="forms-sample" th:action="@{/doctor/updateDoctor}" method="post"
										enctype="multipart/form-data">
										<input hidden="hidden" name="doctorId" th:value="${doctor.doctorId}" />
										<div class="form-group">

											<label for="firstName">First Name</label>

											<input type="text" name="firstName" class="form-control" id="firstName"
												th:value="${doctor.firstName}" required="required"
												placeholder="First Name" />
										</div>

										<div class="form-group">

											<label for="lastName">Last Name</label>
											<input type="text" name="lastName" class="form-control" id="lastName"
												th:value="${doctor.lastName}" required="required"
												placeholder="LastName" />

										</div>

										<div class="form-group">

											<label for="phone">Phone</label>

											<input type="number" name="phone" class="form-control" id="phone"
												th:value="${doctor.phone}" placeholder="Phone Number" />
										</div>


										<div class="form-group">
											<label for="address">Address</label>
											<textarea class="form-control" name="address" id="address"
												th:value="${doctor.address}" th:text="${doctor.address}"
												rows="4"></textarea>

										</div>

										<div class="form-group">

											<label for="nrc">NRC</label>


											<input th:value="${doctor.nrc}" type="number" name="nrc"
												class="form-control" id="nrc" placeholder="NRC" />
										</div>

										<div class="form-group">

											<label for="nrc">Birth Date</label>

											<input type="date" class="form-control" id="doctorDob" name="dob"
												th:value="${doctor.dob}" placeholder="Birth Date" />

										</div>


										<div class="form-group">

											<label for="exampleSelectGender">Gender</label>

											<select th:value="${doctor.gender}" class="form-control" name="gender"
												id="gender">
												<option value="male">Male</option>
												<option value="female">Female</option>
											</select>


										</div>



										<div class="form-group">
											<label for="doctorProfile">Doctor's Profile</label>
											<textarea class="form-control" th:value="${doctor.doctorProfile}"
												name="doctorProfile" id="doctorProfile" rows="4"
												th:text="${doctor.doctorProfile}"></textarea>



										</div>

										<div class="form-group">

											<label for="specialization">Specialization</label>



											<select th:value="${doctor.specialization}" id="specialization"
												name="specialization" class="form-control">
												<option value="dental" th:selected="${doctor.specialization}==dental">
													Dental</option>
												<option value="cardiology"
													th:selected="${doctor.specialization}==cardiology">Cardiology(Heart)
												</option>
												<option value="dermatology"
													th:selected="${doctor.specialization}==dermatology">
													Dermatology(Skin)</option>
												<option value="oncology"
													th:selected="${doctor.specialization}==oncology">Oncology(Cancer)
												</option>
												<option value="nephrology"
													th:selected="${doctor.specialization}==nephrology">
													Nephrology(Kidney)</option>
											</select>

										</div>

										<div class="form-group">

											<label>Upload Doctor's Photo</label>

											<input type="hidden" name="imageName" id="imageName"
												th:value="${doctor.imageName}" />

											<input id="doctorImage" type="file" name="doctorImage"
												th:value="${doctor.doctorImage}" class="file-upload-default" />

											<div class="input-group col-xs-12">
												<input type="text" class="form-control file-upload-info"
													name="imageFormat" disabled placeholder="Upload Image">



												<span class="input-group-append">
													<button class="file-upload-browse btn btn-outline-primary btn-fw"
														type="button">Upload</button>
												</span>
											</div>

										</div>
										<button type="submit" class="btn btn-outline-primary btn-fw">Add</button>
										<a class="btn btn-outline-dark btn-fw" th:href="@{/doctor/doctorInfo(id=${doctor.doctorId})}">Cancel</a>
									</form>
								</div>
							</div>
						</div>



					</div>
				</div>
				<!-- content-wrapper ends -->
				<!-- partial:../../partials/_footer.html -->
				<div th:replace="common/common :: footer"></div>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<!-- plugins:js -->
	<div th:replace="common/common :: body-bottom-scripts"></div>
	<!-- End custom js for this page -->
</body>

</html>